mixin clientSay()
		section#reviews.carousel.slide(data-ride='carousel')
			.col-xs-12
				h2 Our clients say it all...
			.container.carousel-inner(role='listbox')
				.col-xs-12.item.active
					.col-sm-6
						div.clientImg.pull-left
						span.fa.fa-quote-left
						i.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.
						.clientInfo
							i.pull-left - John Van
							i.clearfix President and CEO at XYZ
					.col-sm-6.hidden-xs
						div.clientImg.pull-left
						span.fa.fa-quote-left
						i.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.
						.clientInfo
							i.pull-left - Deisy Graham
							i.clearfix President and CEO at ABC
				.col-xs-12.item
					.col-sm-6
						div.clientImg.pull-left
						span.fa.fa-quote-left
						i.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.
						.clientInfo
							i.pull-left - John Van
							i.clearfix President and CEO at XYZ
					.col-sm-6.hidden-xs
						div.clientImg.pull-left
						span.fa.fa-quote-left
						i.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.
						.clientInfo
							i.pull-left - Deisy Graham
							i.clearfix President and CEO at ABC
				.col-xs-12.item
					.col-sm-6
						div.clientImg.pull-left
						span.fa.fa-quote-left
						i.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.
						.clientInfo
							i.pull-left - John Van
							i.clearfix President and CEO at XYZ
					.col-sm-6.hidden-xs
						div.clientImg.pull-left
						span.fa.fa-quote-left
						i.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.
						.clientInfo
							i.pull-left - Deisy Graham
							i.clearfix President and CEO at ABC
			ol.carousel-indicators
				li.active(data-target="#reviews", data-slide-to="0")
				li(data-target="#reviews", data-slide-to="1")
				li(data-target="#reviews", data-slide-to="2")
