extends ../layouts/layout

block content
	#about
		.hero.margin0.relative
			p &nbsp;
		div.container
			h3.text-uppercase.font-secondary.marginT_30 About csquire
			div.row
				div.col-xs-12
					p CSQUIRE is changing the way business professionals get answers to questions about their software.  Started by a team who spent their careers working in the software industry, CSQUIRE understands the challenges software providers face in trying to respond timely to questions while maintaining an educated and trained support team.  We also understand that when business professionals need help with their software, you need accurate answers fast. CSQUIRE offers an alternative and cost effective way to get answers to questions quickly by connecting you with power users and consultants who are ready and available to help anytime and anywhere.   At CSQUIRE we know your time is valuable, we want you focused on what you were hired to do.
					div.border-long &nbsp;
			h3.text-uppercase.font-secondary our team
			div.row
				div.marginT_30.col-xs-12
					div.clientImg.secondary.ben_pic
					h4.font-primary.text-center Ben Ertischek
					h5.text-primary.font-primary.text-center Founder & CEO
					p Ben’s fundamental belief for building successful businesses can be tied to one of his favorite quotes by Arther Ashe – “To achieve greatness, start where you are, use what you have, and do what you can”.  As an executive with more than 20 years of responsibility for Finance, Accounting, IT Systems & Applications, Strategy and Business Development, Ben thrives on building businesses by nurturing ideas and people working in collaborative teams.    His passion and commitment to evolve ideas, develop people and build successful businesses is second only to his ability to think outside the box, challenge the status quo and cast a vision for what can be. Named CFO of The Year by the Portland Business Journal, Ben played a key part in moving a small, family owned construction software business to a mid-sized private company with more than $150 million in revenue.  Ben and his wife Kristen live in Portland, Oregon and are proud parents of 4 children.
					div.border_short
			div.row
				div.col-xs-12
					div.clientImg.secondary.rife_pic
					h4.font-primary.text-center Lewis Rife
					h5.text-primary.font-primary.text-center Chief Financial Officer
					p Lewis brings a rich background of creating operational excellence while driving financial performance. He has a proven track record of blending his Black Belt in Six Sigma and other process optimization methods with new technologies to increase organizational efficiencies. While consulting internationally, he enabled small businesses and micro funds to implement sustainable economic development practices. Prior to joining CSquire Lewis served as Interim CFO at Viewpoint. Lewis and his wife Annamarie live in Portland, Oregon and are excited to welcome their first child into the family.  Much of their free time is spent remodeling their home and looking after their two dogs – an Alaskan malamute and a pom/poodle. 
					div.border_short
			div.row
				div.col-xs-12
					div.clientImg.secondary.david_pic
					h4.font-primary.text-center David De Rego
					h5.text-primary.font-primary.text-center SVP, Marketing & Sales
					p A 30-year B2B software veteran, David has spent his career in a variety of roles: technical support, software training, consulting, project management and a number of different marketing positions.  With most of his career leading a team of marketing professionals, David’s approach to winning is best summarized by one of his favorite quotes by Michael Jordan – “Talent wins games, but teamwork and intelligence wins championships”.   When it comes to driving brand awareness, creating demand and viral growth, nothing is more significant than a positive customer experience and a community of advocates. David and his wife Karen live in Beaverton, Oregon, where they raised their four daughters and son.  A descendant of Manuel Nunes, the inventor of the ukulele, David is originally from Kaneohe, Hawaii.
					div.border-long| &nbsp;
			h3.text-uppercase.font-secondary Our Adviser
			div.row
				div.col-xs-12
					div.clientImg.secondary.smith_pic
					h4.font-primary.text-center Greg Smith
					h5.text-primary.font-primary.text-center Technology Adviser
					p A 20-year digital media veteran, Greg spends his work days driving product innovation as the CTO for Sizmek.  Prior to joining Sizmek, Greg was the CTO at DG and Move Networks, a leader in adaptive streaming video technologies.  Greg was also VP of Technologies & Products at All Media Guide, which was sold to Rovi following a successful technology and sales turnaround.