extends ../layouts/layout

block content
  div
    h3(style="text-transform: no;") #{error.header} <br> Please contact #[a(href="mailto:admin@csquire.com") admin@csquire.com] for any claims related queries.
