extends ../layouts/layout
include ../mixin/dashboardItems

block content
	include ../widgets/dashboard


append js
	script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
	script(src=cdn('/dashboard.js'))
