extends ../layouts/layout 
include ../mixin/headpanel
include ../mixin/clientSay

block content 
    .container
      row
        .col-xs-12(align="center")
            h2 Your account has been disabled. 
            h3 To reactivate please contact CSquire #[a(href="mailto:admin@csquire.com") Admin.]           
         
