extends ../layouts/layout 
include ../mixin/headpanel
include ../mixin/clientSay

block content 
    .container
      row
        .col-xs-12(align="center")
          h2 Your Email verification link send on registered email id is still pending. Please verify.
          h3 For any other queries please contact #[a(href="mailto:admin@csquire.com") admin@csquire.com]

          
   