extends ../layouts/layout
include ../mixin/headpanel
include ../mixin/registerFormcontinue

block content
	include ../widgets/error


append js
	script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
