extends ../layouts/layout 
include ../mixin/headpanel
include ../mixin/clientSay

block content 
    .container
      row
        .col-xs-12(align="center")
          h2 Thanks! You have successfully registered to CSquire
          h3 Please <a href='/login'>Log In</a> to continue
          //-img(src="#{cdn('/Mail.png')}")
  