extends ../layouts/layout_searchbox_2column
include ../mixin/formerror
include ../mixin/formsuccess
include ../mixin/pastProducts
include ../mixin/registerFormcontinue
include ../mixin/overallRatings
include ../mixin/upgrade


block column_1  
  include ../widgets/profile

block column_2
  include ../widgets/profileaside

block append js
  script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
  script(src=cdn('/profile.js'))
