extends ../layouts/layout 
include ../mixin/headpanel
include ../mixin/formHeading
include ../mixin/formerror
include ../mixin/formsuccess

block content 
    .container
      +successFlash()
      +setFormHead({head:'Reset your CSquire Password'})
      form#form.form-horizontal.bordered.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1(method='post', action='api/sendPasswordResetEmail')     
        .form-group
          .col-sm-6.col-sm-offset-3 
            +setFormHead({head:'',text:"Submit your email address and we'll send you a link to reset your password"})  
        .form-group
          .col-sm-6.col-sm-offset-3           
              input#username.form-control(type='email', name='email', placeholder='Your email')
                 
              if(CustomErr)
                label.error.alert.alert-danger  #{CustomErr}.
              else if(error)
                label.error.alert.alert-danger  There wasn’t an account for that email.
        .form-group
          .col-sm-offset-3.col-sm-6
            button.btn.btn-primary.form-control.signin(type='submit') Submit
           
              