extends ../layouts/layout

block content
	.container#policy
		.row
			.col-xs-12
				h3.text-primary.font-secondary.text-uppercase Terms and Conditions of Use CSquire.com
				p Date of Last Revision: January 1, 2015
				p
					| All information available through this website and other websites owned or provided by CSquire or any of its affiliated entities (collectively “CSquire”), including any products, services, and web content including but not limited to software, images, text, and various downloads (collectively “Materials”) are owned by CSquire and/or by CSquire vendors, who have given permission to use the Materials.
				p
					| Materials are protected by copyright, trademark, and other intellectual property laws and all rights in the said Materials are reserved by CSquire or their respective owners. You may not otherwise use, reproduce, download, modify, store, post, broadcast, transmit, sell, or make available to any party any part of the content from the website without the prior written approval of CSquire.
				p
					| By accessing this website or signing up for any service or offering of CSquire, you are agreeing to these Terms, the Privacy Policy and other terms or conditions CSquire may introduce or modify in the future (collectively “Terms”). 
				h3.text-primary.font-secondary USE OF OUR MATERIALS
				p
					| You may use our Materials only if you are above the age of majority in your state of residence. In no event is use of the CSquire Materials permitted by those under the age of 13. If you are using the Materials on behalf of any entity, then you are agreeing to the Terms on behalf of that entity.
				p
					| Using our Materials does not give you ownership of any intellectual property rights in our Materials or the content you access. You may not use content from our Materials unless you obtain permission from its owner or are otherwise permitted by law except in furtherance of your contractual right with CSquire. These terms do not grant you the right to use any branding or logos used in our Materials. Do not remove, obscure, or alter any legal notices displayed in or along with our Materials.
				h3.text-primary.font-secondary COMMUNITY AND CONSUMER INTERACTIONS
				p
					| CSquire offers interactive connections between experts and consumers/community members. We provide a number of methods by which you can purchase and engage in direct discussions with experts and or receive payment as experts. Although CSquire may process a transaction between the parties, in all instances, CSquire is simply the intermediary. Furthermore, you understand that CSquire cannot be held responsible for the quality or accuracy of any information or services provided by experts or any other service provider offered through a CSquire connection.
				h3.text-primary.font-secondary PAYMENTS
				p
					| By selecting a fee based service you agree to pay CSquire the subscription or usage fees indicated for that service. Payments for subscription services will be charged on the day your subscription goes into effect and will cover the use of that service for the period indicated. Thereafter, you agree that monthly or annual payments will continue to be charged to your credit card on a recurring basis until you cancel your service. The amount of the recurring charge will be the then-current subscription fee applicable to the service you selected. You acknowledge that the amount of the recurring charge may increase if the applicable subscription fee increases. Services must be cancelled prior to your recurring renewal in order to avoid billing of the next period’s service fee.
				p
					| If your payment method fails or your account is past due, CSquire reserves the right to either suspend or terminate any of your registered services. Any such suspension or termination will result in the cancellation of any promotional programs applicable to your registration. You agree to submit any disputes regarding any charge to your account in writing to CSquire within thirty (30) days of such charge, otherwise such dispute will be waived and such charge will be final and not subject to challenge.
				h3.text-primary.font-secondary EXPERT SUPPORT OFFERINGS, USER POSTED CONTENT & OTHER INTERACTIONS 
				p
					| Registration as a CSquire expert means that you as an individual and/or employer are solely responsible to ensure that any information or advertisements they post or place on the CSquire website (including without limitation any expert information offered), and any communications they may have with prospective clients through the use of CSquire Materials is accurate. A failure on the part of the expert or the expert’s employer to assure accuracy and satisfactory conduct in providing expert advice as part of CSquire’s service offerings may result in reprimand or removal of the expert. No compensation will be made to an expert who fails to provide a satisfactory answer to a CSquire community member.
				p
					| “Interactions” include activity in which you post content and information, including peer and client reviews, questions and answers, comments, and photos. You are also solely responsible for your and your employees’ Interactions and use of such interactive features. Use of the interactive features is at your own risk. By using any interactive feature, you agree to comply with the CSquire Terms. CSquire reserves the right to remove or modify any Interactions for any reason, including Interactions that we believe violate the Terms.
				p
					| When you post to any CSquire website, you give CSquire and its affiliates a nonexclusive, royalty-free, perpetual, irrevocable and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and display such content throughout the world in any media. To the extent such content is attached to a profile on the CSquire site, the foregoing license includes a right to reproduce your profile, and any name, likeness or photograph contained in such profile. If you submit feedback or suggestions about our CSquire Materials, we may use your feedback or suggestions without obligation to you.
				h3.text-primary.font-secondary OFFICIAL SWEEPSTAKES RULES
				p
					strong
						| Important:  Please read these rules before entering the online promotion ("Sweepstakes") or taking any action in furtherance of your entry.  By entering, you agree to be bound by these Official Rules and represent that you satisfy all of the Sweepstakes eligibility requirements below.
				p.text-center
					strong
						i NO PURCHASE OR PAYMENT OF ANY KIND IS NECESSARY TO ENTER OR WIN THIS SWEEPSTAKES.
				ol
					li
						strong Eligibility.
						| THIS SWEEPSTAKES IS OPEN ONLY TO LEGAL RESIDENTS OF THE FIFTY (50) UNITED STATES AND THE DISTRICT OF COLUMBIA AGE 18 OR OLDER WHERE THIS SWEEPSTAKES IS NOT PROHIBITED BY LAW. IF YOU DO NOT MEET THESE CRITERIA, YOU ARE NOT ELIGIBLE TO WIN A PRIZE, AND CSquire, Inc. ("SPONSOR”) RESERVES THE RIGHT NOT TO AWARD PRIZES TO YOU.  To be eligible to win a prize, entries must be completed and received by Sponsor in the format designated below.Directors, officers and employees of Sponsor are not eligible to win any prizes.  All applicable federal, state and local laws and regulations apply. OFFER VOID WHERE PROHIBITED.
					li
						strong Disclaimer.
						| Sponsor, and any of their subsidiaries or affiliates, will not be responsible for: (a) any late, lost, misrouted, garbled or distorted or damaged transmissions or entries; (b) telephone, electronic, hardware, software, network, Internet, or other computer- or communications-related malfunctions or failures; (c) any Sweepstakes disruptions, injuries, losses or damages caused by events beyond the control of Sponsor; or (d) any printing or typographical errors in any materials associated with the Sweepstakes.
					li
						strong Sweepstakes Period.
						| The Sweepstakes period is as listed in the individual sweepstakes promotional. All entries must be received by the stated Deadline to be eligible to win a prize.
					li
						strong How to Enter.
						| The Sweepstakes entry rules are as listed in the individual sweepstakes promotional.  Limit one (1) entry per sweepstakes.  All entries become the property of Sponsor and will not be returned.
					li
						strong Selection and Notification of Winners.
						| Winners will be determined by random drawings from all eligible entries, to be held at Sponsor's offices at 220 NW 8th Ave, Portland, Oregon 97209, and notified within fifteen (15) business days after the close of the contest. To claim a prize, winners need to follow the instructions contained in their notifications and fill out the information requested by the Sponsor.

					li
						strong Prizes.
						| Prizes that will be awarded are as listed in the individual sweepstakes promotional.
					li Odds of winning a prize depend on number of eligible entries received.
						div.fa_Marginleft
							strong ALL FEDERAL, STATE AND LOCAL TAXES ASSOCIATED WITH THE RECEIPT OR USE OF ANY PRIZE ARE THE SOLE RESPONSIBILITY OF THE WINNER.
							| All prizes will be awarded. Prizes returned as undeliverable or otherwise not claimed within five (5) days after delivery of notification will be forfeited and awarded to an alternate winner selected by a second random drawing from all remaining eligible entries.  Prizes are not transferable and no substitutions or exchanges (including for cash) of any prize will be permitted, except that Sponsor reserves the right to substitute a prize of comparable or greater value for any prize.  Limit one (1) prize per household or address.  All prizes are awarded "AS IS" and WITHOUT WARRANTY OF ANY KIND, express or implied, (including, without limitation, any implied warranty of merchantability or fitness for a particular purpose).
					li
						strong General Release.
						| By entering the Sweepstakes or taking any actions in furtherance of the Sweepstakes, you release Sponsor and waive any and all causes of action, for any claims, costs, injuries, losses, or damages of any kind.  
					li
						strong Affidavit & Release. 
						| As a condition of being awarded any prize, each winner will be required to execute and deliver to Sponsor a signed affidavit of eligibility, acceptance of these Official Rules and release of liability, and any other legal, regulatory or tax-related documents required by Sponsor in its sole discretion.
					li
						strong Winner Names; Rules Request.
						| For a copy of the winners name send a stamped, self-addressed, business-size envelope after the contest but within thirty (30) days of the contest ending to Sponsor. Residents of VT and other locations requiring such should omit return postage.
					li
						strong Copyright.
						| The Sweepstakes and all accompanying materials are copyright 2016 by Sponsor.  All rights are reserved.
					li
						strong Miscellaneous.
						| The Sweepstakes and these Official Rules will be governed, construed and interpreted under the laws of the State of Oregon.  Entrants agree to be bound by these Official Rules and by the decisions of Sponsor. Sponsor reserves the right to suspend or cancel the Sweepstakes.
					li
						strong Sponsor.
						| The listed sponsor of the Sweepstakes for contact purposes is: 220 NW 8th Ave, Portland, Oregon 97209.
				h3.text-primary.font-secondary COPYRIGHT NOTICE
				p © 2015 CSquire Inc. All Rights Reserved.
				h3.text-primary.font-secondary TRADEMARK NOTICE
				p
					| CSquire owns many valuable trademarks worldwide that represent CSquire as well as its products and services. Most CSquire trademarks are registered in the U.S. and in other countries, typically in the name of CSquire. CSquire does not use the trademark legends.
				p
					| All references to CSquire and CSquire products and services must be accurate and never misleading in any way. CSquire trademarks may only be used to refer to CSquire and CSquire products and services, and may not be combined with any other company names, product names, services names, or as part of any domain names.
				p
					| CSquire logos are reserved for exclusive use by CSquire, its licensees, and partners under written contract with CSquire. No other uses of the CSquire logos are permitted.
				h3.text-primary.font-secondary THIRD-PARTY INTELLECTUAL PROPERTY
				p
					| The names of all other products and services are the property of their respective owners. We respond to notices of alleged infringement and terminate accounts of repeat infringers according to the process set out in the U.S. Digital Millennium Copyright Act and other applicable laws.
				p
					| If you believe that any material on our website infringes upon any copyright or other intellectual property which you own or control, you may file a Notice of Alleged Infringement with CSquire’s Legal department at 
					a(href='mailto:legal@CSquire.com') legal@CSquire.com
					| .
				h3.text-primary.font-secondary LIMITATION OF LIABILITY
				p
					| TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT SHALL CSQUIRE OR ANY OF ITS AFFILIATES, SUPPLIERS AND DISTRIBUTORS,OR ANY OF THEIR RESPECTIVE DIRECTORS, EMPLOYEES AND AGENTS, BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) THE OUTCOME OF ANY LEGAL MATTER; (B) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE MATERIALS; OR (C) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY RELATING TO THE MATERIALS.
				p
					| TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF CSQUIRE, AND ITS AFFILIATES, SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIM ARISING OUT OF OR RELATING IN ANY MANNER TO THE USE OF THE MATERIALS, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICES TO WHICH SUCH CLAIM RELATES IN THE 6 MONTH PERIOD PRECEDING THE FILING OF SUCH CLAIM. THIS LIMITATION APPLIES TO ALL CSQUIRE SERVICES.
				h3.text-primary.font-secondary INDEMNIFICATION
				p
					| You agree to defend, indemnify and hold harmless CSquire, its corporate affiliates, independent contractors, service providers and consultants, and each of their respective directors, employees and agents, from and against any claims, damages, costs, liabilities and expenses (including, but not limited to, reasonable attorneys' fees) arising out of or related to any information you post, store or otherwise transmit on or through CSquire or your use of or inability to use the Materials or Interactions, including without limitation any actual or threatened suit, demand or claim arising out of or relating to the Interactions, your conduct, your violation of these Terms or your violation of the rights of any third party.
				h3.text-primary.font-secondary MODIFICATIONS
				p
					| CSquire may revise these Terms from time to time and we will always post the most up-to-date version on our website. By using or continuing to use or access the Materials after any revisions have come into effect, you agree to be bound by the revised Terms.
				h3.text-primary.font-secondary APPLICABLE LAW AND VENUE
				p
					| The laws of the State of Oregon, excluding its conflict of law provisions, will apply to any disputes arising out of or relating to these Terms or the Materials. All claims arising out of or relating to these Terms or the Materials will be litigated exclusively in the state or federal courts located in Multnomah County, Oregon, and you and CSquire consent to personal jurisdiction and exclusive venue in such courts.
				h3.text-primary.font-secondary  TERMINATION
				p
					| Notwithstanding any of these Terms, CSquire reserves the right, without notice and in its sole discretion, to terminate your license to use the Materials, and to block or prevent your access to and use of the Materials. CSquire reserves the right to refuse service to anyone for any reason at any time. In the event of termination of access to the Materials for any reason, you have no right to obtain a copy of any data or communications you stored or effected via the Materials, or any other data.
				h3.text-primary.font-secondary ENTIRE AGREEMENT
				p
					| These Terms constitute the entire agreement between you and CSquire with respect to the subject matter of these Terms, and supersede and replace any prior version of the Terms. These Terms create no third party beneficiary rights.
				h3.text-primary.font-secondary WAIVER, SEVERABILITY & ASSIGNMENT
				p
					| CSquire’s failure to enforce a provision of these Terms is not a waiver of its right to do so later. If any provision of these Terms is found unenforceable, the remaining provisions of the Terms will remain in full effect and an enforceable term or terms will be substituted reflecting our intent as closely as possible. You may not assign any of your rights under these Terms, and any attempt to do so will be void. CSquire may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Materials.
				h3.text-primary.font-secondary QUESTIONS
				p
					| For questions regarding CSquire copyrights or trademarks, please contact the CSquire Legal Department at 
					a(href='mailto:legal@CSquire.com') legal@CSquire.com