.dashboard.toRemove.profileContainer.container
		.row
			.col-xs-12.col-sm-6.col-lg-3.contentBox
				.panel.panel-default.claimedCompany.marginT_30
					.panel-heading.text-uppercase.text-center Quick Support
					.panel-body
						.row
							.col-md-9.col-lg-10.col-xs-10
								p Manage Support queue
						.row
							.col-md-9.col-lg-10.col-xs-10
								p Manage Payments
						.row
							.col-md-9.col-lg-10.col-xs-10
								p View Reports
			.col-xs-12.col-sm-6.col-lg-3.contentBox
				.panel.panel-default.claimedCompany.marginT_30.relative.favorites#dashboardFavorite
					.panel-heading.text-uppercase.text-center Logs 
					.panel-body
						.row
							.col-md-9.col-lg-10.col-xs-10
								p Error
						.row
							.col-md-9.col-lg-10.col-xs-10
								p Warning
						.row
							.col-md-9.col-lg-10.col-xs-10
								p Information
			.col-xs-12.col-sm-6.col-lg-3.contentBox.recentActivity
				.panel.panel-default.marginT_30#recentActivity
					.panel-heading.text-uppercase.text-center Manage
					.panel-body
						.row
							.col-md-9.col-lg-10.col-xs-10
								p Accounts
			.col-xs-12.col-sm-6.col-lg-3.contentBox.recentActivity
				.panel.panel-default.marginT_30#recentActivity
					.panel-heading.text-uppercase.text-center Settings
					.panel-body
						.row
							.col-md-9.col-lg-10.col-xs-10
								p 
									a(href='/qsMapping', title='Stripe Mapping') Stripe Mapping
						.row
							.col-md-9.col-lg-10.col-xs-10
								p 
									a(href='/qsCreate/createProduct', title='Stripe Product') Stripe Product
						.row
							.col-md-9.col-lg-10.col-xs-10
								p 
									a(href='/qsCreate/createCoupon', title='Stripe Coupon') Stripe Coupon
						.row
							.col-md-9.col-lg-10.col-xs-10
								p 
									a(href='/qsCreate/createDiscount', title='Stripe Discount') Stripe Discount
						.row
							.col-md-9.col-lg-10.col-xs-10
								p 
									a(href='/qsCreate/createPlan', title='Stripe Discount') Stripe Plan
						.row
							.col-md-9.col-lg-10.col-xs-10
								p Cloudinary
						.row
							.col-md-9.col-lg-10.col-xs-10
								p Configuration