div.container
    div#stripeMapping.error
      +headpanels('Error logs')
      div.dropdown
        button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Today
          <span class="caret"></span>
        ul.dropdown-menu(aria-labelledby="dropdownMenu4")
          li
            a(href="#") Today
    table.table.table-bordered.error-table
        thead
            tr
                th Date & Time
                    i.fa.fa-chevron-down.fa_Marginleft
                th Page
                    i.fa.fa-chevron-down.fa_Marginleft
                th Error Level
                    i.fa.fa-chevron-down.fa_Marginleft
                th error Details
                    i.fa.fa-chevron-down.fa_Marginleft
        tbody
            tr
                td 25/10/2015,
                  p 20.30
                td Support Queue
                td.high High
                td Lorem ipsum dolor sit amet, ei illum munere duo. Nonumy minimum forensibus ad cum.
